table {
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  text-align: center;
}
th, td {
  border: 1px solid black;
  padding: 15px;
}
span {
  font-family: monospace;
}
button {
  font-family: Jost;
  font-size: 14px;
}
