body {
  background-color: #bfa88e;
  color: white;
  font-family: Jost;
  height: 100%
}
html {
  height: 90%;
}
h1 {
  font-size: 24pt;
}
p {
  font-size: 16pt;
}
div {
  text-align: left;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
